.message {
    display: none;
    margin-top: 30px;
    animation: fadeIn 1s ease;
}

.message h2 {
    color: #6c63ff;
    font-weight: bold;
}

.message p {
    margin-bottom: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}